<!DOCTYPE html>
<html lang="en">
	<%-include('../partials/head.ejs')%>

	<body>
		<%-include('../partials/nav.ejs')%>

		<div class="container center-align">
			<i style="margin-top: 10rem" class="large material-icons"
				>sentiment_very_dissatisfied</i
			>
			<h1>Error 404: Page not found</h1>
		</div>
	</body>
</html>
